@use '/src/styles/constants/colors';

.movieListCont {
  margin-top: 54px;
  margin-bottom: 100px;

  & .movieList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    overflow: hidden;
  }

  & .movieItem {
    position: relative;
    width: 320px;
    height: 115px;
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33, 33, 33, 20%);
    transition: all 0.2s;

    button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 10px;
    }

    img {
      width: 85px;
      height: 100%;
      border: 1px solid colors.$GRAYE;
      border-radius: 10px;
      box-shadow: 0 0 11px rgba(33, 33, 33, 20%);
    }

    .textInfo {
      display: block;
      flex: 1;
      height: 100%;
      min-height: 0;
      padding: 10px;
      margin-left: 5px;
      overflow: hidden;
      text-align: left;

      .title {
        margin: 5px 0;
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .year {
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
        color: colors.$GRAY6;
      }

      .imdbID {
        display: inline-block;
        padding: 2px 6px;
        font-size: 10px;
        font-weight: bold;
        color: colors.$GRAY3;
        background-image: linear-gradient(135deg, #dddddd 0%, #999999 100%);
        border-radius: 5px;
      }
    }

    .movieListHeart {
      align-self: flex-start;
      width: 15px;
      height: 15px;

      & path {
        fill: #ff3c79;
        // fill: #aaaaaa;
      }
    }
  }

  & .movieItem:hover {
    transform: translateY(-5px);
  }
}

.noResult {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
}
